@tailwind base;
@tailwind components;
@tailwind utilities;


.slick-prev {
    left: 1px !important;
    z-index: 1;
    height: 50px;
    width: 50px;
}

.slick-next {
    right: 1px !important;
    z-index: 1;
}
